.createPost, .create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 800px;
    margin: auto;
}

.createPost{
    margin-top: 20px;
    /* border: 1px solid black; */
}

.create input, .create textarea, .create button{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    outline: 1px solid #c2c2c2;
}

.create textarea{
    height: 200px;
    resize: none;
}

.create input{
    height: 32px;
}

.create button{
    background-color: #41B06E;
}
